production:
  url: redis://:<%= @redis.password %>@/<%= @redis.master_name %>
  sentinels: <% @redis.sentinels.each_pair do |ipaddress, port| %>
    -
      host: <%= ipaddress %>
      port: <%= port %>
<% end %>
